InterfazUsuario/src/conf/xml-resources/web-service-references/wsLogicaNegocioProducto/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioProducto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://producto.logicanegocio.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://producto.logicanegocio.jhano.lewissa.com/" name="wsLogicaNegocioProducto">
<types>
<xsd:schema>
<xsd:import namespace="http://producto.logicanegocio.jhano.lewissa.com/" schemaLocation="http://localhost:8080/LogicaNegocio/wsLogicaNegocioProducto?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizaModificarDataBaseProducto">
<part name="parameters" element="tns:actualizaModificarDataBaseProducto"/>
</message>
<message name="actualizaModificarDataBaseProductoResponse">
<part name="parameters" element="tns:actualizaModificarDataBaseProductoResponse"/>
</message>
<message name="validaRuc">
<part name="parameters" element="tns:validaRuc"/>
</message>
<message name="validaRucResponse">
<part name="parameters" element="tns:validaRucResponse"/>
</message>
<message name="cargaProducto">
<part name="parameters" element="tns:cargaProducto"/>
</message>
<message name="cargaProductoResponse">
<part name="parameters" element="tns:cargaProductoResponse"/>
</message>
<message name="actualizaDataBaseProducto">
<part name="parameters" element="tns:actualizaDataBaseProducto"/>
</message>
<message name="actualizaDataBaseProductoResponse">
<part name="parameters" element="tns:actualizaDataBaseProductoResponse"/>
</message>
<message name="buscarProducto">
<part name="parameters" element="tns:buscarProducto"/>
</message>
<message name="buscarProductoResponse">
<part name="parameters" element="tns:buscarProductoResponse"/>
</message>
<message name="obtieneProducto">
<part name="parameters" element="tns:obtieneProducto"/>
</message>
<message name="obtieneProductoResponse">
<part name="parameters" element="tns:obtieneProductoResponse"/>
</message>
<message name="consultarProductoPorFamilia">
<part name="parameters" element="tns:consultarProductoPorFamilia"/>
</message>
<message name="consultarProductoPorFamiliaResponse">
<part name="parameters" element="tns:consultarProductoPorFamiliaResponse"/>
</message>
<message name="getErrorConexionProducto">
<part name="parameters" element="tns:getErrorConexionProducto"/>
</message>
<message name="getErrorConexionProductoResponse">
<part name="parameters" element="tns:getErrorConexionProductoResponse"/>
</message>
<message name="getDescripcionFamiliaProducto">
<part name="parameters" element="tns:getDescripcionFamiliaProducto"/>
</message>
<message name="getDescripcionFamiliaProductoResponse">
<part name="parameters" element="tns:getDescripcionFamiliaProductoResponse"/>
</message>
<message name="getNombreProveedor">
<part name="parameters" element="tns:getNombreProveedor"/>
</message>
<message name="getNombreProveedorResponse">
<part name="parameters" element="tns:getNombreProveedorResponse"/>
</message>
<message name="eliminarProducto">
<part name="parameters" element="tns:eliminarProducto"/>
</message>
<message name="eliminarProductoResponse">
<part name="parameters" element="tns:eliminarProductoResponse"/>
</message>
<portType name="wsLogicaNegocioProducto">
<operation name="actualizaModificarDataBaseProducto">
<input wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/actualizaModificarDataBaseProductoRequest" message="tns:actualizaModificarDataBaseProducto"/>
<output wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/actualizaModificarDataBaseProductoResponse" message="tns:actualizaModificarDataBaseProductoResponse"/>
</operation>
<operation name="validaRuc">
<input wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/validaRucRequest" message="tns:validaRuc"/>
<output wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/validaRucResponse" message="tns:validaRucResponse"/>
</operation>
<operation name="cargaProducto">
<input wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/cargaProductoRequest" message="tns:cargaProducto"/>
<output wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/cargaProductoResponse" message="tns:cargaProductoResponse"/>
</operation>
<operation name="actualizaDataBaseProducto">
<input wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/actualizaDataBaseProductoRequest" message="tns:actualizaDataBaseProducto"/>
<output wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/actualizaDataBaseProductoResponse" message="tns:actualizaDataBaseProductoResponse"/>
</operation>
<operation name="buscarProducto">
<input wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/buscarProductoRequest" message="tns:buscarProducto"/>
<output wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/buscarProductoResponse" message="tns:buscarProductoResponse"/>
</operation>
<operation name="obtieneProducto">
<input wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/obtieneProductoRequest" message="tns:obtieneProducto"/>
<output wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/obtieneProductoResponse" message="tns:obtieneProductoResponse"/>
</operation>
<operation name="consultarProductoPorFamilia">
<input wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/consultarProductoPorFamiliaRequest" message="tns:consultarProductoPorFamilia"/>
<output wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/consultarProductoPorFamiliaResponse" message="tns:consultarProductoPorFamiliaResponse"/>
</operation>
<operation name="getErrorConexionProducto">
<input wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/getErrorConexionProductoRequest" message="tns:getErrorConexionProducto"/>
<output wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/getErrorConexionProductoResponse" message="tns:getErrorConexionProductoResponse"/>
</operation>
<operation name="getDescripcionFamiliaProducto">
<input wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/getDescripcionFamiliaProductoRequest" message="tns:getDescripcionFamiliaProducto"/>
<output wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/getDescripcionFamiliaProductoResponse" message="tns:getDescripcionFamiliaProductoResponse"/>
</operation>
<operation name="getNombreProveedor">
<input wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/getNombreProveedorRequest" message="tns:getNombreProveedor"/>
<output wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/getNombreProveedorResponse" message="tns:getNombreProveedorResponse"/>
</operation>
<operation name="eliminarProducto">
<input wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/eliminarProductoRequest" message="tns:eliminarProducto"/>
<output wsam:Action="http://producto.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProducto/eliminarProductoResponse" message="tns:eliminarProductoResponse"/>
</operation>
</portType>
<binding name="wsLogicaNegocioProductoPortBinding" type="tns:wsLogicaNegocioProducto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizaModificarDataBaseProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validaRuc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargaProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaDataBaseProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtieneProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarProductoPorFamilia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrorConexionProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDescripcionFamiliaProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNombreProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsLogicaNegocioProducto">
<port name="wsLogicaNegocioProductoPort" binding="tns:wsLogicaNegocioProductoPortBinding">
<soap:address location="http://localhost:8080/LogicaNegocio/wsLogicaNegocioProducto"/>
</port>
</service>
</definitions>