InterfazUsuario/src/conf/xml-resources/web-service-references/wsLogicaNegocioProducto/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioProducto.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://producto.accesodatos.jhano.lewissa.com/">

<xs:complexType name="cProducto">
<xs:sequence>
<xs:element name="douMargen_ganancia" type="xs:double" minOccurs="0"/>
<xs:element name="douMargen_venta" type="xs:double" minOccurs="0"/>
<xs:element name="douPrecio_costo" type="xs:double" minOccurs="0"/>
<xs:element name="douPrecio_dos" type="xs:double" minOccurs="0"/>
<xs:element name="intCantidad" type="xs:int" minOccurs="0"/>
<xs:element name="intStock_maximo" type="xs:int" minOccurs="0"/>
<xs:element name="intStock_minimo" type="xs:int" minOccurs="0"/>
<xs:element name="strDescripcion_general" type="xs:string" minOccurs="0"/>
<xs:element name="strEan" type="xs:string" minOccurs="0"/>
<xs:element name="strFabricante" type="xs:string" minOccurs="0"/>
<xs:element name="strFamilia_produ" type="xs:string" minOccurs="0"/>
<xs:element name="strProveedor_produ" type="xs:string" minOccurs="0"/>
<xs:element name="strSn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>