InterfazUsuario/src/conf/xml-resources/web-service-references/wsLogicaNegocioCliente/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioCliente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cliente.logicanegocio.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cliente.logicanegocio.jhano.lewissa.com/" name="wsLogicaNegocioCliente">
<types>
<xsd:schema>
<xsd:import namespace="http://cliente.logicanegocio.jhano.lewissa.com/" schemaLocation="http://localhost:8080/LogicaNegocio/wsLogicaNegocioCliente?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarCliente">
<part name="parameters" element="tns:buscarCliente"/>
</message>
<message name="buscarClienteResponse">
<part name="parameters" element="tns:buscarClienteResponse"/>
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente"/>
</message>
<message name="eliminarClienteResponse">
<part name="parameters" element="tns:eliminarClienteResponse"/>
</message>
<message name="validaRuc">
<part name="parameters" element="tns:validaRuc"/>
</message>
<message name="validaRucResponse">
<part name="parameters" element="tns:validaRucResponse"/>
</message>
<message name="obtenCliente">
<part name="parameters" element="tns:obtenCliente"/>
</message>
<message name="obtenClienteResponse">
<part name="parameters" element="tns:obtenClienteResponse"/>
</message>
<message name="validaEmail">
<part name="parameters" element="tns:validaEmail"/>
</message>
<message name="validaEmailResponse">
<part name="parameters" element="tns:validaEmailResponse"/>
</message>
<message name="validaCedula">
<part name="parameters" element="tns:validaCedula"/>
</message>
<message name="validaCedulaResponse">
<part name="parameters" element="tns:validaCedulaResponse"/>
</message>
<message name="actualizaDataBaseCliente">
<part name="parameters" element="tns:actualizaDataBaseCliente"/>
</message>
<message name="actualizaDataBaseClienteResponse">
<part name="parameters" element="tns:actualizaDataBaseClienteResponse"/>
</message>
<message name="getErrorConexionCliente">
<part name="parameters" element="tns:getErrorConexionCliente"/>
</message>
<message name="getErrorConexionClienteResponse">
<part name="parameters" element="tns:getErrorConexionClienteResponse"/>
</message>
<portType name="wsLogicaNegocioCliente">
<operation name="buscarCliente">
<input wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/buscarClienteRequest" message="tns:buscarCliente"/>
<output wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/buscarClienteResponse" message="tns:buscarClienteResponse"/>
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/eliminarClienteRequest" message="tns:eliminarCliente"/>
<output wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/eliminarClienteResponse" message="tns:eliminarClienteResponse"/>
</operation>
<operation name="validaRuc">
<input wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/validaRucRequest" message="tns:validaRuc"/>
<output wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/validaRucResponse" message="tns:validaRucResponse"/>
</operation>
<operation name="obtenCliente">
<input wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/obtenClienteRequest" message="tns:obtenCliente"/>
<output wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/obtenClienteResponse" message="tns:obtenClienteResponse"/>
</operation>
<operation name="validaEmail">
<input wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/validaEmailRequest" message="tns:validaEmail"/>
<output wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/validaEmailResponse" message="tns:validaEmailResponse"/>
</operation>
<operation name="validaCedula">
<input wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/validaCedulaRequest" message="tns:validaCedula"/>
<output wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/validaCedulaResponse" message="tns:validaCedulaResponse"/>
</operation>
<operation name="actualizaDataBaseCliente">
<input wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/actualizaDataBaseClienteRequest" message="tns:actualizaDataBaseCliente"/>
<output wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/actualizaDataBaseClienteResponse" message="tns:actualizaDataBaseClienteResponse"/>
</operation>
<operation name="getErrorConexionCliente">
<input wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/getErrorConexionClienteRequest" message="tns:getErrorConexionCliente"/>
<output wsam:Action="http://cliente.logicanegocio.jhano.lewissa.com/wsLogicaNegocioCliente/getErrorConexionClienteResponse" message="tns:getErrorConexionClienteResponse"/>
</operation>
</portType>
<binding name="wsLogicaNegocioClientePortBinding" type="tns:wsLogicaNegocioCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validaRuc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validaEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validaCedula">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaDataBaseCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrorConexionCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsLogicaNegocioCliente">
<port name="wsLogicaNegocioClientePort" binding="tns:wsLogicaNegocioClientePortBinding">
<soap:address location="http://localhost:8080/LogicaNegocio/wsLogicaNegocioCliente"/>
</port>
</service>
</definitions>