InterfazUsuario/src/conf/xml-resources/web-service-references/wsLogicaNegocioListaProductos/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioListaProductos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://listaproductos.logicanegocio.jhano.lewissa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://listaproductos.logicanegocio.jhano.lewissa.com/">

<xs:element name="insertarListaProductos" type="tns:insertarListaProductos"/>

<xs:element name="insertarListaProductosResponse" type="tns:insertarListaProductosResponse"/>

<xs:complexType name="insertarListaProductos">
<xs:sequence>
<xs:element name="oListaProductos" type="tns:cListaProductos" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cListaProductos">
<xs:sequence>
<xs:element name="intCantidad" type="xs:int" minOccurs="0"/>
<xs:element name="intListaProducto" type="xs:int" minOccurs="0"/>
<xs:element name="strListaFactura" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarListaProductosResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>