LogicaNegocio/src/conf/xml-resources/web-service-references/wsAccesoDatosPago/wsdl/localhost_8080/AccesoDatos/wsAccesoDatosPago.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://pago.accesodatos.jhano.lewissa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pago.accesodatos.jhano.lewissa.com/">

<xs:element name="cargarPago" type="tns:cargarPago"/>

<xs:element name="cargarPagoResponse" type="tns:cargarPagoResponse"/>

<xs:element name="eliminarFisicoPago" type="tns:eliminarFisicoPago"/>

<xs:element name="eliminarFisicoPagoResponse" type="tns:eliminarFisicoPagoResponse"/>

<xs:element name="eliminarLogicoPago" type="tns:eliminarLogicoPago"/>

<xs:element name="eliminarLogicoPagoResponse" type="tns:eliminarLogicoPagoResponse"/>

<xs:element name="getErrorConexion" type="tns:getErrorConexion"/>

<xs:element name="getErrorConexionResponse" type="tns:getErrorConexionResponse"/>

<xs:element name="getPagoFactura" type="tns:getPagoFactura"/>

<xs:element name="getPagoFacturaResponse" type="tns:getPagoFacturaResponse"/>

<xs:element name="getPagosPendientes" type="tns:getPagosPendientes"/>

<xs:element name="getPagosPendientesResponse" type="tns:getPagosPendientesResponse"/>

<xs:element name="getTotalPagosPendientes" type="tns:getTotalPagosPendientes"/>

<xs:element name="getTotalPagosPendientesResponse" type="tns:getTotalPagosPendientesResponse"/>

<xs:element name="ingresaDataBasePago" type="tns:ingresaDataBasePago"/>

<xs:element name="ingresaDataBasePagoResponse" type="tns:ingresaDataBasePagoResponse"/>

<xs:element name="modificarDataBasePago" type="tns:modificarDataBasePago"/>

<xs:element name="modificarDataBasePagoResponse" type="tns:modificarDataBasePagoResponse"/>

<xs:element name="mostrarDatosPagos" type="tns:mostrarDatosPagos"/>

<xs:element name="mostrarDatosPagosResponse" type="tns:mostrarDatosPagosResponse"/>

<xs:complexType name="getPagosPendientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPagosPendientesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargarPago">
<xs:sequence>
<xs:element name="strId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargarPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarFisicoPago">
<xs:sequence>
<xs:element name="strCodigoPago" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarFisicoPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTotalPagosPendientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTotalPagosPendientesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPagoFactura">
<xs:sequence>
<xs:element name="strId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPagoFacturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarLogicoPago">
<xs:sequence>
<xs:element name="strCodigoPago" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarLogicoPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarDatosPagos">
<xs:sequence>
<xs:element name="strIdPago" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarDatosPagosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarDataBasePago">
<xs:sequence>
<xs:element name="strPago" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarDataBasePagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresaDataBasePago">
<xs:sequence>
<xs:element name="strPago" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresaDataBasePagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getErrorConexion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getErrorConexionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>