LogicaNegocio/src/conf/xml-resources/web-service-references/wsAccesoDatosProveedor/wsdl/localhost_8080/AccesoDatos/wsAccesoDatosProveedor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://proveedor.accesodatos.jhano.lewissa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://proveedor.accesodatos.jhano.lewissa.com/">

<xs:element name="getErrorConexion" type="tns:getErrorConexion"/>

<xs:element name="getErrorConexionResponse" type="tns:getErrorConexionResponse"/>

<xs:element name="insertarProveedor" type="tns:insertarProveedor"/>

<xs:element name="insertarProveedorResponse" type="tns:insertarProveedorResponse"/>

<xs:complexType name="getErrorConexion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getErrorConexionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarProveedor">
<xs:sequence>
<xs:element name="strProveedor" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarProveedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>