LogicaNegocio/src/conf/xml-resources/web-service-references/wsAccesoDatosProveedor/wsdl/localhost_8080/AccesoDatos/wsAccesoDatosProveedor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://proveedor.accesodatos.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://proveedor.accesodatos.jhano.lewissa.com/" name="wsAccesoDatosProveedor">
<types>
<xsd:schema>
<xsd:import namespace="http://proveedor.accesodatos.jhano.lewissa.com/" schemaLocation="http://localhost:8080/AccesoDatos/wsAccesoDatosProveedor?xsd=1"/>
</xsd:schema>
</types>
<message name="modificarProveedor">
<part name="parameters" element="tns:modificarProveedor"/>
</message>
<message name="modificarProveedorResponse">
<part name="parameters" element="tns:modificarProveedorResponse"/>
</message>
<message name="cargaProveedor">
<part name="parameters" element="tns:cargaProveedor"/>
</message>
<message name="cargaProveedorResponse">
<part name="parameters" element="tns:cargaProveedorResponse"/>
</message>
<message name="eliminarFisicoProveedor">
<part name="parameters" element="tns:eliminarFisicoProveedor"/>
</message>
<message name="eliminarFisicoProveedorResponse">
<part name="parameters" element="tns:eliminarFisicoProveedorResponse"/>
</message>
<message name="eliminarLogicoProveedor">
<part name="parameters" element="tns:eliminarLogicoProveedor"/>
</message>
<message name="eliminarLogicoProveedorResponse">
<part name="parameters" element="tns:eliminarLogicoProveedorResponse"/>
</message>
<message name="insertarProveedor">
<part name="parameters" element="tns:insertarProveedor"/>
</message>
<message name="insertarProveedorResponse">
<part name="parameters" element="tns:insertarProveedorResponse"/>
</message>
<message name="getErrorConexion">
<part name="parameters" element="tns:getErrorConexion"/>
</message>
<message name="getErrorConexionResponse">
<part name="parameters" element="tns:getErrorConexionResponse"/>
</message>
<portType name="wsAccesoDatosProveedor">
<operation name="modificarProveedor">
<input wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/modificarProveedorRequest" message="tns:modificarProveedor"/>
<output wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/modificarProveedorResponse" message="tns:modificarProveedorResponse"/>
</operation>
<operation name="cargaProveedor">
<input wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/cargaProveedorRequest" message="tns:cargaProveedor"/>
<output wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/cargaProveedorResponse" message="tns:cargaProveedorResponse"/>
</operation>
<operation name="eliminarFisicoProveedor">
<input wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/eliminarFisicoProveedorRequest" message="tns:eliminarFisicoProveedor"/>
<output wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/eliminarFisicoProveedorResponse" message="tns:eliminarFisicoProveedorResponse"/>
</operation>
<operation name="eliminarLogicoProveedor">
<input wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/eliminarLogicoProveedorRequest" message="tns:eliminarLogicoProveedor"/>
<output wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/eliminarLogicoProveedorResponse" message="tns:eliminarLogicoProveedorResponse"/>
</operation>
<operation name="insertarProveedor">
<input wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/insertarProveedorRequest" message="tns:insertarProveedor"/>
<output wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/insertarProveedorResponse" message="tns:insertarProveedorResponse"/>
</operation>
<operation name="getErrorConexion">
<input wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/getErrorConexionRequest" message="tns:getErrorConexion"/>
<output wsam:Action="http://proveedor.accesodatos.jhano.lewissa.com/wsAccesoDatosProveedor/getErrorConexionResponse" message="tns:getErrorConexionResponse"/>
</operation>
</portType>
<binding name="wsAccesoDatosProveedorPortBinding" type="tns:wsAccesoDatosProveedor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="modificarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargaProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarFisicoProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarLogicoProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrorConexion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsAccesoDatosProveedor">
<port name="wsAccesoDatosProveedorPort" binding="tns:wsAccesoDatosProveedorPortBinding">
<soap:address location="http://localhost:8080/AccesoDatos/wsAccesoDatosProveedor"/>
</port>
</service>
</definitions>