InterfazUsuario/src/conf/xml-resources/web-service-references/wsLogicaNegocioPago/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioPago.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://pago.logicanegocio.jhano.lewissa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pago.logicanegocio.jhano.lewissa.com/">

<xs:element name="cargaPago" type="tns:cargaPago"/>

<xs:element name="cargaPagoResponse" type="tns:cargaPagoResponse"/>

<xs:element name="getErrorConexion" type="tns:getErrorConexion"/>

<xs:element name="getErrorConexionResponse" type="tns:getErrorConexionResponse"/>

<xs:element name="getPagosPendientes" type="tns:getPagosPendientes"/>

<xs:element name="getPagosPendientesResponse" type="tns:getPagosPendientesResponse"/>

<xs:element name="getTotalPagosPendientes" type="tns:getTotalPagosPendientes"/>

<xs:element name="getTotalPagosPendientesResponse" type="tns:getTotalPagosPendientesResponse"/>

<xs:element name="modificarDataBasePago" type="tns:modificarDataBasePago"/>

<xs:element name="modificarDataBasePagoResponse" type="tns:modificarDataBasePagoResponse"/>

<xs:element name="mostrarDatosPagos" type="tns:mostrarDatosPagos"/>

<xs:element name="mostrarDatosPagosResponse" type="tns:mostrarDatosPagosResponse"/>

<xs:complexType name="mostrarDatosPagos">
<xs:sequence>
<xs:element name="strId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarDatosPagosResponse">
<xs:sequence>
<xs:element name="return" type="tns:cPago" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cPago">
<xs:sequence>
<xs:element name="booEstado" type="xs:boolean" minOccurs="0"/>
<xs:element name="douMonto" type="xs:double" minOccurs="0"/>
<xs:element name="intFormaPago" type="xs:int" minOccurs="0"/>
<xs:element name="intIdPago" type="xs:int" minOccurs="0"/>
<xs:element name="strFacturaPago" type="xs:string" minOccurs="0"/>
<xs:element name="strFechaPago" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarDataBasePago">
<xs:sequence>
<xs:element name="strPago" type="tns:cPago" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarDataBasePagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getErrorConexion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getErrorConexionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTotalPagosPendientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTotalPagosPendientesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPagosPendientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPagosPendientesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargaPago">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cargaPagoResponse">
<xs:sequence>
<xs:element name="return" type="tns:cPago" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>