AccesoDatos/web/WEB-INF/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioFamiliaProdcuto.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.accesodatos.jhano.lewissa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.accesodatos.jhano.lewissa.com/">

    <xs:complexType name="exception">
        <xs:complexContent>
            <xs:extension base="tns:throwable">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="throwable">
        <xs:sequence>
            <xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stackTraceElement">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>