AccesoDatos/web/WEB-INF/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioFamiliaProdcuto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://familiaproducto.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://familiaproducto.jhano.lewissa.com/" name="wsLogicaNegocioFamiliaProdcuto">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.accesodatos.jhano.lewissa.com/" schemaLocation="http://localhost:8080/LogicaNegocio/wsLogicaNegocioFamiliaProdcuto?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://familiaproducto.jhano.lewissa.com/" schemaLocation="http://localhost:8080/LogicaNegocio/wsLogicaNegocioFamiliaProdcuto?xsd=2"/>
</xsd:schema>
</types>
<message name="getErrorConexionFamiliaProducto">
<part name="parameters" element="tns:getErrorConexionFamiliaProducto"/>
</message>
<message name="getErrorConexionFamiliaProductoResponse">
<part name="parameters" element="tns:getErrorConexionFamiliaProductoResponse"/>
</message>
<message name="insertarFamiliaProducto">
<part name="parameters" element="tns:insertarFamiliaProducto"/>
</message>
<message name="insertarFamiliaProductoResponse">
<part name="parameters" element="tns:insertarFamiliaProductoResponse"/>
</message>
<message name="validarCodigo">
<part name="parameters" element="tns:validarCodigo"/>
</message>
<message name="validarCodigoResponse">
<part name="parameters" element="tns:validarCodigoResponse"/>
</message>
<portType name="wsLogicaNegocioFamiliaProdcuto">
<operation name="getErrorConexionFamiliaProducto">
<input wsam:Action="http://familiaproducto.jhano.lewissa.com/wsLogicaNegocioFamiliaProdcuto/getErrorConexionFamiliaProductoRequest" message="tns:getErrorConexionFamiliaProducto"/>
<output wsam:Action="http://familiaproducto.jhano.lewissa.com/wsLogicaNegocioFamiliaProdcuto/getErrorConexionFamiliaProductoResponse" message="tns:getErrorConexionFamiliaProductoResponse"/>
</operation>
<operation name="insertarFamiliaProducto">
<input wsam:Action="http://familiaproducto.jhano.lewissa.com/wsLogicaNegocioFamiliaProdcuto/insertarFamiliaProductoRequest" message="tns:insertarFamiliaProducto"/>
<output wsam:Action="http://familiaproducto.jhano.lewissa.com/wsLogicaNegocioFamiliaProdcuto/insertarFamiliaProductoResponse" message="tns:insertarFamiliaProductoResponse"/>
</operation>
<operation name="validarCodigo">
<input wsam:Action="http://familiaproducto.jhano.lewissa.com/wsLogicaNegocioFamiliaProdcuto/validarCodigoRequest" message="tns:validarCodigo"/>
<output wsam:Action="http://familiaproducto.jhano.lewissa.com/wsLogicaNegocioFamiliaProdcuto/validarCodigoResponse" message="tns:validarCodigoResponse"/>
</operation>
</portType>
<binding name="wsLogicaNegocioFamiliaProdcutoPortBinding" type="tns:wsLogicaNegocioFamiliaProdcuto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getErrorConexionFamiliaProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarFamiliaProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsLogicaNegocioFamiliaProdcuto">
<port name="wsLogicaNegocioFamiliaProdcutoPort" binding="tns:wsLogicaNegocioFamiliaProdcutoPortBinding">
<soap:address location="http://localhost:8080/LogicaNegocio/wsLogicaNegocioFamiliaProdcuto"/>
</port>
</service>
</definitions>