LogicaNegocio/web/WEB-INF/wsdl/localhost_8080/AccesoDatos/wsAccesoDatosPago.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pago.accesodatos.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pago.accesodatos.jhano.lewissa.com/" name="wsAccesoDatosPago">
<types>
<xsd:schema>
<xsd:import namespace="http://pago.accesodatos.jhano.lewissa.com/" schemaLocation="http://localhost:8080/AccesoDatos/wsAccesoDatosPago?xsd=1"/>
</xsd:schema>
</types>
<message name="getPagoFactura">
<part name="parameters" element="tns:getPagoFactura"/>
</message>
<message name="getPagoFacturaResponse">
<part name="parameters" element="tns:getPagoFacturaResponse"/>
</message>
<message name="getErrorConexion">
<part name="parameters" element="tns:getErrorConexion"/>
</message>
<message name="getErrorConexionResponse">
<part name="parameters" element="tns:getErrorConexionResponse"/>
</message>
<message name="ingresaDataBasePago">
<part name="parameters" element="tns:ingresaDataBasePago"/>
</message>
<message name="ingresaDataBasePagoResponse">
<part name="parameters" element="tns:ingresaDataBasePagoResponse"/>
</message>
<message name="getPagosPendientes">
<part name="parameters" element="tns:getPagosPendientes"/>
</message>
<message name="getPagosPendientesResponse">
<part name="parameters" element="tns:getPagosPendientesResponse"/>
</message>
<message name="modificarDataBasePago">
<part name="parameters" element="tns:modificarDataBasePago"/>
</message>
<message name="modificarDataBasePagoResponse">
<part name="parameters" element="tns:modificarDataBasePagoResponse"/>
</message>
<message name="mostrarDatosPagos">
<part name="parameters" element="tns:mostrarDatosPagos"/>
</message>
<message name="mostrarDatosPagosResponse">
<part name="parameters" element="tns:mostrarDatosPagosResponse"/>
</message>
<message name="getTotalPagosPendientes">
<part name="parameters" element="tns:getTotalPagosPendientes"/>
</message>
<message name="getTotalPagosPendientesResponse">
<part name="parameters" element="tns:getTotalPagosPendientesResponse"/>
</message>
<message name="eliminarFisicoPago">
<part name="parameters" element="tns:eliminarFisicoPago"/>
</message>
<message name="eliminarFisicoPagoResponse">
<part name="parameters" element="tns:eliminarFisicoPagoResponse"/>
</message>
<message name="cargarPago">
<part name="parameters" element="tns:cargarPago"/>
</message>
<message name="cargarPagoResponse">
<part name="parameters" element="tns:cargarPagoResponse"/>
</message>
<message name="eliminarLogicoPago">
<part name="parameters" element="tns:eliminarLogicoPago"/>
</message>
<message name="eliminarLogicoPagoResponse">
<part name="parameters" element="tns:eliminarLogicoPagoResponse"/>
</message>
<portType name="wsAccesoDatosPago">
<operation name="getPagoFactura">
<input wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/getPagoFacturaRequest" message="tns:getPagoFactura"/>
<output wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/getPagoFacturaResponse" message="tns:getPagoFacturaResponse"/>
</operation>
<operation name="getErrorConexion">
<input wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/getErrorConexionRequest" message="tns:getErrorConexion"/>
<output wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/getErrorConexionResponse" message="tns:getErrorConexionResponse"/>
</operation>
<operation name="ingresaDataBasePago">
<input wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/ingresaDataBasePagoRequest" message="tns:ingresaDataBasePago"/>
<output wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/ingresaDataBasePagoResponse" message="tns:ingresaDataBasePagoResponse"/>
</operation>
<operation name="getPagosPendientes">
<input wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/getPagosPendientesRequest" message="tns:getPagosPendientes"/>
<output wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/getPagosPendientesResponse" message="tns:getPagosPendientesResponse"/>
</operation>
<operation name="modificarDataBasePago">
<input wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/modificarDataBasePagoRequest" message="tns:modificarDataBasePago"/>
<output wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/modificarDataBasePagoResponse" message="tns:modificarDataBasePagoResponse"/>
</operation>
<operation name="mostrarDatosPagos">
<input wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/mostrarDatosPagosRequest" message="tns:mostrarDatosPagos"/>
<output wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/mostrarDatosPagosResponse" message="tns:mostrarDatosPagosResponse"/>
</operation>
<operation name="getTotalPagosPendientes">
<input wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/getTotalPagosPendientesRequest" message="tns:getTotalPagosPendientes"/>
<output wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/getTotalPagosPendientesResponse" message="tns:getTotalPagosPendientesResponse"/>
</operation>
<operation name="eliminarFisicoPago">
<input wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/eliminarFisicoPagoRequest" message="tns:eliminarFisicoPago"/>
<output wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/eliminarFisicoPagoResponse" message="tns:eliminarFisicoPagoResponse"/>
</operation>
<operation name="cargarPago">
<input wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/cargarPagoRequest" message="tns:cargarPago"/>
<output wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/cargarPagoResponse" message="tns:cargarPagoResponse"/>
</operation>
<operation name="eliminarLogicoPago">
<input wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/eliminarLogicoPagoRequest" message="tns:eliminarLogicoPago"/>
<output wsam:Action="http://pago.accesodatos.jhano.lewissa.com/wsAccesoDatosPago/eliminarLogicoPagoResponse" message="tns:eliminarLogicoPagoResponse"/>
</operation>
</portType>
<binding name="wsAccesoDatosPagoPortBinding" type="tns:wsAccesoDatosPago">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPagoFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrorConexion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaDataBasePago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPagosPendientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarDataBasePago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarDatosPagos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalPagosPendientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarFisicoPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarLogicoPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsAccesoDatosPago">
<port name="wsAccesoDatosPagoPort" binding="tns:wsAccesoDatosPagoPortBinding">
<soap:address location="http://localhost:8080/AccesoDatos/wsAccesoDatosPago"/>
</port>
</service>
</definitions>