LogicaNegocio/web/WEB-INF/wsdl/localhost_8080/AccesoDatos/wsAccesoDatosCliente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cliente.accesodatos.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cliente.accesodatos.jhano.lewissa.com/" name="wsAccesoDatosCliente">
<types>
<xsd:schema>
<xsd:import namespace="http://cliente.accesodatos.jhano.lewissa.com/" schemaLocation="http://localhost:8080/AccesoDatos/wsAccesoDatosCliente?xsd=1"/>
</xsd:schema>
</types>
<message name="getErrorConexion">
<part name="parameters" element="tns:getErrorConexion"/>
</message>
<message name="getErrorConexionResponse">
<part name="parameters" element="tns:getErrorConexionResponse"/>
</message>
<message name="actualizarDataBaseCliente">
<part name="parameters" element="tns:actualizarDataBaseCliente"/>
</message>
<message name="actualizarDataBaseClienteResponse">
<part name="parameters" element="tns:actualizarDataBaseClienteResponse"/>
</message>
<message name="obtenerCliente">
<part name="parameters" element="tns:obtenerCliente"/>
</message>
<message name="obtenerClienteResponse">
<part name="parameters" element="tns:obtenerClienteResponse"/>
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente"/>
</message>
<message name="eliminarClienteResponse">
<part name="parameters" element="tns:eliminarClienteResponse"/>
</message>
<portType name="wsAccesoDatosCliente">
<operation name="getErrorConexion">
<input wsam:Action="http://cliente.accesodatos.jhano.lewissa.com/wsAccesoDatosCliente/getErrorConexionRequest" message="tns:getErrorConexion"/>
<output wsam:Action="http://cliente.accesodatos.jhano.lewissa.com/wsAccesoDatosCliente/getErrorConexionResponse" message="tns:getErrorConexionResponse"/>
</operation>
<operation name="actualizarDataBaseCliente">
<input wsam:Action="http://cliente.accesodatos.jhano.lewissa.com/wsAccesoDatosCliente/actualizarDataBaseClienteRequest" message="tns:actualizarDataBaseCliente"/>
<output wsam:Action="http://cliente.accesodatos.jhano.lewissa.com/wsAccesoDatosCliente/actualizarDataBaseClienteResponse" message="tns:actualizarDataBaseClienteResponse"/>
</operation>
<operation name="obtenerCliente">
<input wsam:Action="http://cliente.accesodatos.jhano.lewissa.com/wsAccesoDatosCliente/obtenerClienteRequest" message="tns:obtenerCliente"/>
<output wsam:Action="http://cliente.accesodatos.jhano.lewissa.com/wsAccesoDatosCliente/obtenerClienteResponse" message="tns:obtenerClienteResponse"/>
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://cliente.accesodatos.jhano.lewissa.com/wsAccesoDatosCliente/eliminarClienteRequest" message="tns:eliminarCliente"/>
<output wsam:Action="http://cliente.accesodatos.jhano.lewissa.com/wsAccesoDatosCliente/eliminarClienteResponse" message="tns:eliminarClienteResponse"/>
</operation>
</portType>
<binding name="wsAccesoDatosClientePortBinding" type="tns:wsAccesoDatosCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getErrorConexion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarDataBaseCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsAccesoDatosCliente">
<port name="wsAccesoDatosClientePort" binding="tns:wsAccesoDatosClientePortBinding">
<soap:address location="http://localhost:8080/AccesoDatos/wsAccesoDatosCliente"/>
</port>
</service>
</definitions>