LogicaNegocio/web/WEB-INF/wsdl/localhost_8080/AccesoDatos/wsAccesoDatosFactura.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://factura.accesodatos.jhano.lewissa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://factura.accesodatos.jhano.lewissa.com/">

<xs:element name="cargarFacturas" type="tns:cargarFacturas"/>

<xs:element name="cargarFacturasResponse" type="tns:cargarFacturasResponse"/>

<xs:element name="getErrorConexionFactura" type="tns:getErrorConexionFactura"/>

<xs:element name="getErrorConexionFacturaResponse" type="tns:getErrorConexionFacturaResponse"/>

<xs:element name="ingresarFactura" type="tns:ingresarFactura"/>

<xs:element name="ingresarFacturaResponse" type="tns:ingresarFacturaResponse"/>

<xs:complexType name="cargarFacturas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cargarFacturasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getErrorConexionFactura">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getErrorConexionFacturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarFactura">
<xs:sequence>
<xs:element name="strFactura" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarFacturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>