LogicaNegocio/web/WEB-INF/wsdl/localhost_8080/AccesoDatos/wsAccesoDatosFactura.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://factura.accesodatos.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://factura.accesodatos.jhano.lewissa.com/" name="wsAccesoDatosFactura">
<types>
<xsd:schema>
<xsd:import namespace="http://factura.accesodatos.jhano.lewissa.com/" schemaLocation="http://localhost:8080/AccesoDatos/wsAccesoDatosFactura?xsd=1"/>
</xsd:schema>
</types>
<message name="ingresarFactura">
<part name="parameters" element="tns:ingresarFactura"/>
</message>
<message name="ingresarFacturaResponse">
<part name="parameters" element="tns:ingresarFacturaResponse"/>
</message>
<message name="getErrorConexionFactura">
<part name="parameters" element="tns:getErrorConexionFactura"/>
</message>
<message name="getErrorConexionFacturaResponse">
<part name="parameters" element="tns:getErrorConexionFacturaResponse"/>
</message>
<message name="cargarFacturas">
<part name="parameters" element="tns:cargarFacturas"/>
</message>
<message name="cargarFacturasResponse">
<part name="parameters" element="tns:cargarFacturasResponse"/>
</message>
<portType name="wsAccesoDatosFactura">
<operation name="ingresarFactura">
<input wsam:Action="http://factura.accesodatos.jhano.lewissa.com/wsAccesoDatosFactura/ingresarFacturaRequest" message="tns:ingresarFactura"/>
<output wsam:Action="http://factura.accesodatos.jhano.lewissa.com/wsAccesoDatosFactura/ingresarFacturaResponse" message="tns:ingresarFacturaResponse"/>
</operation>
<operation name="getErrorConexionFactura">
<input wsam:Action="http://factura.accesodatos.jhano.lewissa.com/wsAccesoDatosFactura/getErrorConexionFacturaRequest" message="tns:getErrorConexionFactura"/>
<output wsam:Action="http://factura.accesodatos.jhano.lewissa.com/wsAccesoDatosFactura/getErrorConexionFacturaResponse" message="tns:getErrorConexionFacturaResponse"/>
</operation>
<operation name="cargarFacturas">
<input wsam:Action="http://factura.accesodatos.jhano.lewissa.com/wsAccesoDatosFactura/cargarFacturasRequest" message="tns:cargarFacturas"/>
<output wsam:Action="http://factura.accesodatos.jhano.lewissa.com/wsAccesoDatosFactura/cargarFacturasResponse" message="tns:cargarFacturasResponse"/>
</operation>
</portType>
<binding name="wsAccesoDatosFacturaPortBinding" type="tns:wsAccesoDatosFactura">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ingresarFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrorConexionFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarFacturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsAccesoDatosFactura">
<port name="wsAccesoDatosFacturaPort" binding="tns:wsAccesoDatosFacturaPortBinding">
<soap:address location="http://localhost:8080/AccesoDatos/wsAccesoDatosFactura"/>
</port>
</service>
</definitions>