LogicaNegocio/web/WEB-INF/wsdl/localhost_8080/AccesoDatos/wsAccesoDatosProducto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://producto.accesodatos.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://producto.accesodatos.jhano.lewissa.com/" name="wsAccesoDatosProducto">
<types>
<xsd:schema>
<xsd:import namespace="http://producto.accesodatos.jhano.lewissa.com/" schemaLocation="http://localhost:8080/AccesoDatos/wsAccesoDatosProducto?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarDataBaseProducto">
<part name="parameters" element="tns:actualizarDataBaseProducto"/>
</message>
<message name="actualizarDataBaseProductoResponse">
<part name="parameters" element="tns:actualizarDataBaseProductoResponse"/>
</message>
<message name="getNombreProveedor">
<part name="parameters" element="tns:getNombreProveedor"/>
</message>
<message name="getNombreProveedorResponse">
<part name="parameters" element="tns:getNombreProveedorResponse"/>
</message>
<message name="modificarDataBaseProducto">
<part name="parameters" element="tns:modificarDataBaseProducto"/>
</message>
<message name="modificarDataBaseProductoResponse">
<part name="parameters" element="tns:modificarDataBaseProductoResponse"/>
</message>
<message name="eliminarLogicoProducto">
<part name="parameters" element="tns:eliminarLogicoProducto"/>
</message>
<message name="eliminarLogicoProductoResponse">
<part name="parameters" element="tns:eliminarLogicoProductoResponse"/>
</message>
<message name="buscarProducto">
<part name="parameters" element="tns:buscarProducto"/>
</message>
<message name="buscarProductoResponse">
<part name="parameters" element="tns:buscarProductoResponse"/>
</message>
<message name="eliminarFisicoProducto">
<part name="parameters" element="tns:eliminarFisicoProducto"/>
</message>
<message name="eliminarFisicoProductoResponse">
<part name="parameters" element="tns:eliminarFisicoProductoResponse"/>
</message>
<message name="consultarProducto">
<part name="parameters" element="tns:consultarProducto"/>
</message>
<message name="consultarProductoResponse">
<part name="parameters" element="tns:consultarProductoResponse"/>
</message>
<message name="getDescripcionFamilaProducto">
<part name="parameters" element="tns:getDescripcionFamilaProducto"/>
</message>
<message name="getDescripcionFamilaProductoResponse">
<part name="parameters" element="tns:getDescripcionFamilaProductoResponse"/>
</message>
<message name="getErrorConexion">
<part name="parameters" element="tns:getErrorConexion"/>
</message>
<message name="getErrorConexionResponse">
<part name="parameters" element="tns:getErrorConexionResponse"/>
</message>
<message name="cargaProducto">
<part name="parameters" element="tns:cargaProducto"/>
</message>
<message name="cargaProductoResponse">
<part name="parameters" element="tns:cargaProductoResponse"/>
</message>
<portType name="wsAccesoDatosProducto">
<operation name="actualizarDataBaseProducto">
<input wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/actualizarDataBaseProductoRequest" message="tns:actualizarDataBaseProducto"/>
<output wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/actualizarDataBaseProductoResponse" message="tns:actualizarDataBaseProductoResponse"/>
</operation>
<operation name="getNombreProveedor">
<input wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/getNombreProveedorRequest" message="tns:getNombreProveedor"/>
<output wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/getNombreProveedorResponse" message="tns:getNombreProveedorResponse"/>
</operation>
<operation name="modificarDataBaseProducto">
<input wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/modificarDataBaseProductoRequest" message="tns:modificarDataBaseProducto"/>
<output wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/modificarDataBaseProductoResponse" message="tns:modificarDataBaseProductoResponse"/>
</operation>
<operation name="eliminarLogicoProducto">
<input wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/eliminarLogicoProductoRequest" message="tns:eliminarLogicoProducto"/>
<output wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/eliminarLogicoProductoResponse" message="tns:eliminarLogicoProductoResponse"/>
</operation>
<operation name="buscarProducto">
<input wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/buscarProductoRequest" message="tns:buscarProducto"/>
<output wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/buscarProductoResponse" message="tns:buscarProductoResponse"/>
</operation>
<operation name="eliminarFisicoProducto">
<input wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/eliminarFisicoProductoRequest" message="tns:eliminarFisicoProducto"/>
<output wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/eliminarFisicoProductoResponse" message="tns:eliminarFisicoProductoResponse"/>
</operation>
<operation name="consultarProducto">
<input wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/consultarProductoRequest" message="tns:consultarProducto"/>
<output wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/consultarProductoResponse" message="tns:consultarProductoResponse"/>
</operation>
<operation name="getDescripcionFamilaProducto">
<input wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/getDescripcionFamilaProductoRequest" message="tns:getDescripcionFamilaProducto"/>
<output wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/getDescripcionFamilaProductoResponse" message="tns:getDescripcionFamilaProductoResponse"/>
</operation>
<operation name="getErrorConexion">
<input wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/getErrorConexionRequest" message="tns:getErrorConexion"/>
<output wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/getErrorConexionResponse" message="tns:getErrorConexionResponse"/>
</operation>
<operation name="cargaProducto">
<input wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/cargaProductoRequest" message="tns:cargaProducto"/>
<output wsam:Action="http://producto.accesodatos.jhano.lewissa.com/wsAccesoDatosProducto/cargaProductoResponse" message="tns:cargaProductoResponse"/>
</operation>
</portType>
<binding name="wsAccesoDatosProductoPortBinding" type="tns:wsAccesoDatosProducto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizarDataBaseProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNombreProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarDataBaseProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarLogicoProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarFisicoProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDescripcionFamilaProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrorConexion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargaProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsAccesoDatosProducto">
<port name="wsAccesoDatosProductoPort" binding="tns:wsAccesoDatosProductoPortBinding">
<soap:address location="http://localhost:8080/AccesoDatos/wsAccesoDatosProducto"/>
</port>
</service>
</definitions>