InterfazUsuario/src/conf/xml-resources/web-service-references/wsLogicaNegocioFamiliaProdcuto/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioFamiliaProdcuto.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://familiaproducto.jhano.lewissa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://familiaproducto.jhano.lewissa.com/">

<xs:element name="insertarFamiliaProducto" type="tns:insertarFamiliaProducto"/>

<xs:element name="insertarFamiliaProductoResponse" type="tns:insertarFamiliaProductoResponse"/>

<xs:complexType name="insertarFamiliaProducto">
<xs:sequence>
<xs:element name="oFamiliaProducto" type="tns:cFamiliaProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cFamiliaProducto">
<xs:sequence>
<xs:element name="strDescripcion" type="xs:string" minOccurs="0"/>
<xs:element name="strId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarFamiliaProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>