InterfazUsuario/web/WEB-INF/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioPago.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pago.logicanegocio.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pago.logicanegocio.jhano.lewissa.com/" name="wsLogicaNegocioPago">
<types>
<xsd:schema>
<xsd:import namespace="http://pago.logicanegocio.jhano.lewissa.com/" schemaLocation="http://localhost:8080/LogicaNegocio/wsLogicaNegocioPago?xsd=1"/>
</xsd:schema>
</types>
<message name="getTotalPagoFactura">
<part name="parameters" element="tns:getTotalPagoFactura"/>
</message>
<message name="getTotalPagoFacturaResponse">
<part name="parameters" element="tns:getTotalPagoFacturaResponse"/>
</message>
<message name="getErrorConexion">
<part name="parameters" element="tns:getErrorConexion"/>
</message>
<message name="getErrorConexionResponse">
<part name="parameters" element="tns:getErrorConexionResponse"/>
</message>
<message name="ingresaDataBasePago">
<part name="parameters" element="tns:ingresaDataBasePago"/>
</message>
<message name="ingresaDataBasePagoResponse">
<part name="parameters" element="tns:ingresaDataBasePagoResponse"/>
</message>
<message name="getPagosPendientes">
<part name="parameters" element="tns:getPagosPendientes"/>
</message>
<message name="getPagosPendientesResponse">
<part name="parameters" element="tns:getPagosPendientesResponse"/>
</message>
<message name="modificarDataBasePago">
<part name="parameters" element="tns:modificarDataBasePago"/>
</message>
<message name="modificarDataBasePagoResponse">
<part name="parameters" element="tns:modificarDataBasePagoResponse"/>
</message>
<message name="mostrarDatosPagos">
<part name="parameters" element="tns:mostrarDatosPagos"/>
</message>
<message name="mostrarDatosPagosResponse">
<part name="parameters" element="tns:mostrarDatosPagosResponse"/>
</message>
<message name="getTotalPagosPendientes">
<part name="parameters" element="tns:getTotalPagosPendientes"/>
</message>
<message name="getTotalPagosPendientesResponse">
<part name="parameters" element="tns:getTotalPagosPendientesResponse"/>
</message>
<message name="cargaPago">
<part name="parameters" element="tns:cargaPago"/>
</message>
<message name="cargaPagoResponse">
<part name="parameters" element="tns:cargaPagoResponse"/>
</message>
<message name="eliminarPago">
<part name="parameters" element="tns:eliminarPago"/>
</message>
<message name="eliminarPagoResponse">
<part name="parameters" element="tns:eliminarPagoResponse"/>
</message>
<portType name="wsLogicaNegocioPago">
<operation name="getTotalPagoFactura">
<input wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/getTotalPagoFacturaRequest" message="tns:getTotalPagoFactura"/>
<output wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/getTotalPagoFacturaResponse" message="tns:getTotalPagoFacturaResponse"/>
</operation>
<operation name="getErrorConexion">
<input wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/getErrorConexionRequest" message="tns:getErrorConexion"/>
<output wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/getErrorConexionResponse" message="tns:getErrorConexionResponse"/>
</operation>
<operation name="ingresaDataBasePago">
<input wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/ingresaDataBasePagoRequest" message="tns:ingresaDataBasePago"/>
<output wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/ingresaDataBasePagoResponse" message="tns:ingresaDataBasePagoResponse"/>
</operation>
<operation name="getPagosPendientes">
<input wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/getPagosPendientesRequest" message="tns:getPagosPendientes"/>
<output wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/getPagosPendientesResponse" message="tns:getPagosPendientesResponse"/>
</operation>
<operation name="modificarDataBasePago">
<input wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/modificarDataBasePagoRequest" message="tns:modificarDataBasePago"/>
<output wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/modificarDataBasePagoResponse" message="tns:modificarDataBasePagoResponse"/>
</operation>
<operation name="mostrarDatosPagos">
<input wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/mostrarDatosPagosRequest" message="tns:mostrarDatosPagos"/>
<output wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/mostrarDatosPagosResponse" message="tns:mostrarDatosPagosResponse"/>
</operation>
<operation name="getTotalPagosPendientes">
<input wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/getTotalPagosPendientesRequest" message="tns:getTotalPagosPendientes"/>
<output wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/getTotalPagosPendientesResponse" message="tns:getTotalPagosPendientesResponse"/>
</operation>
<operation name="cargaPago">
<input wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/cargaPagoRequest" message="tns:cargaPago"/>
<output wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/cargaPagoResponse" message="tns:cargaPagoResponse"/>
</operation>
<operation name="eliminarPago">
<input wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/eliminarPagoRequest" message="tns:eliminarPago"/>
<output wsam:Action="http://pago.logicanegocio.jhano.lewissa.com/wsLogicaNegocioPago/eliminarPagoResponse" message="tns:eliminarPagoResponse"/>
</operation>
</portType>
<binding name="wsLogicaNegocioPagoPortBinding" type="tns:wsLogicaNegocioPago">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTotalPagoFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrorConexion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaDataBasePago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPagosPendientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarDataBasePago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarDatosPagos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalPagosPendientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargaPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsLogicaNegocioPago">
<port name="wsLogicaNegocioPagoPort" binding="tns:wsLogicaNegocioPagoPortBinding">
<soap:address location="http://localhost:8080/LogicaNegocio/wsLogicaNegocioPago"/>
</port>
</service>
</definitions>