InterfazUsuario/web/WEB-INF/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioProducto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://producto.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://producto.jhano.lewissa.com/" name="wsLogicaNegocioProducto">
<types>
<xsd:schema>
<xsd:import namespace="http://producto.jhano.lewissa.com/" schemaLocation="http://localhost:8080/LogicaNegocio/wsLogicaNegocioProducto?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://producto.accesodatos.jhano.lewissa.com/" schemaLocation="http://localhost:8080/LogicaNegocio/wsLogicaNegocioProducto?xsd=2"/>
</xsd:schema>
</types>
<message name="validaRuc">
<part name="parameters" element="tns:validaRuc"/>
</message>
<message name="validaRucResponse">
<part name="parameters" element="tns:validaRucResponse"/>
</message>
<message name="actualizaDataBaseProducto">
<part name="parameters" element="tns:actualizaDataBaseProducto"/>
</message>
<message name="actualizaDataBaseProductoResponse">
<part name="parameters" element="tns:actualizaDataBaseProductoResponse"/>
</message>
<message name="getErrorConexionProducto">
<part name="parameters" element="tns:getErrorConexionProducto"/>
</message>
<message name="getErrorConexionProductoResponse">
<part name="parameters" element="tns:getErrorConexionProductoResponse"/>
</message>
<message name="getNombreProveedor">
<part name="parameters" element="tns:getNombreProveedor"/>
</message>
<message name="getNombreProveedorResponse">
<part name="parameters" element="tns:getNombreProveedorResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="getDescripcionFamiliaProducto">
<part name="parameters" element="tns:getDescripcionFamiliaProducto"/>
</message>
<message name="getDescripcionFamiliaProductoResponse">
<part name="parameters" element="tns:getDescripcionFamiliaProductoResponse"/>
</message>
<portType name="wsLogicaNegocioProducto">
<operation name="validaRuc">
<input wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/validaRucRequest" message="tns:validaRuc"/>
<output wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/validaRucResponse" message="tns:validaRucResponse"/>
</operation>
<operation name="actualizaDataBaseProducto">
<input wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/actualizaDataBaseProductoRequest" message="tns:actualizaDataBaseProducto"/>
<output wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/actualizaDataBaseProductoResponse" message="tns:actualizaDataBaseProductoResponse"/>
</operation>
<operation name="getErrorConexionProducto">
<input wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/getErrorConexionProductoRequest" message="tns:getErrorConexionProducto"/>
<output wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/getErrorConexionProductoResponse" message="tns:getErrorConexionProductoResponse"/>
</operation>
<operation name="getNombreProveedor">
<input wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/getNombreProveedorRequest" message="tns:getNombreProveedor"/>
<output wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/getNombreProveedorResponse" message="tns:getNombreProveedorResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/getNombreProveedor/Fault/SQLException"/>
</operation>
<operation name="getDescripcionFamiliaProducto">
<input wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/getDescripcionFamiliaProductoRequest" message="tns:getDescripcionFamiliaProducto"/>
<output wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/getDescripcionFamiliaProductoResponse" message="tns:getDescripcionFamiliaProductoResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://producto.jhano.lewissa.com/wsLogicaNegocioProducto/getDescripcionFamiliaProducto/Fault/SQLException"/>
</operation>
</portType>
<binding name="wsLogicaNegocioProductoPortBinding" type="tns:wsLogicaNegocioProducto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validaRuc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaDataBaseProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrorConexionProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNombreProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getDescripcionFamiliaProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="wsLogicaNegocioProducto">
<port name="wsLogicaNegocioProductoPort" binding="tns:wsLogicaNegocioProductoPortBinding">
<soap:address location="http://localhost:8080/LogicaNegocio/wsLogicaNegocioProducto"/>
</port>
</service>
</definitions>