InterfazUsuario/web/WEB-INF/wsdl/localhost_8080/LogicaNegocio/wsProveedor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.proveedor.jhano.lewissa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.proveedor.jhano.lewissa.com/">

<xs:element name="insertaProveedor" type="tns:insertaProveedor"/>

<xs:element name="insertaProveedorResponse" type="tns:insertaProveedorResponse"/>

<xs:complexType name="insertaProveedor">
<xs:sequence>
<xs:element name="prove" type="tns:cProveedor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cProveedor">
<xs:sequence>
<xs:element name="celular" type="xs:string" minOccurs="0"/>
<xs:element name="convencional" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nombreComercial" type="xs:string" minOccurs="0"/>
<xs:element name="nombreFiscal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertaProveedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>