InterfazUsuario/src/conf/xml-resources/web-service-references/wsLogicaNegocioProveedor/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioProveedor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://proveedor.logicanegocio.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://proveedor.logicanegocio.jhano.lewissa.com/" name="wsLogicaNegocioProveedor">
<types>
<xsd:schema>
<xsd:import namespace="http://proveedor.logicanegocio.jhano.lewissa.com/" schemaLocation="http://localhost:8080/LogicaNegocio/wsLogicaNegocioProveedor?xsd=1"/>
</xsd:schema>
</types>
<message name="getErrorConexionProveedor">
<part name="parameters" element="tns:getErrorConexionProveedor"/>
</message>
<message name="getErrorConexionProveedorResponse">
<part name="parameters" element="tns:getErrorConexionProveedorResponse"/>
</message>
<message name="eliminarProveedor">
<part name="parameters" element="tns:eliminarProveedor"/>
</message>
<message name="eliminarProveedorResponse">
<part name="parameters" element="tns:eliminarProveedorResponse"/>
</message>
<message name="validarNumeroCelular">
<part name="parameters" element="tns:validarNumeroCelular"/>
</message>
<message name="validarNumeroCelularResponse">
<part name="parameters" element="tns:validarNumeroCelularResponse"/>
</message>
<message name="actualizaDataBaseProveedor">
<part name="parameters" element="tns:actualizaDataBaseProveedor"/>
</message>
<message name="actualizaDataBaseProveedorResponse">
<part name="parameters" element="tns:actualizaDataBaseProveedorResponse"/>
</message>
<message name="validarNumeroConvencional">
<part name="parameters" element="tns:validarNumeroConvencional"/>
</message>
<message name="validarNumeroConvencionalResponse">
<part name="parameters" element="tns:validarNumeroConvencionalResponse"/>
</message>
<message name="validaCorreo">
<part name="parameters" element="tns:validaCorreo"/>
</message>
<message name="validaCorreoResponse">
<part name="parameters" element="tns:validaCorreoResponse"/>
</message>
<message name="validaCedula">
<part name="parameters" element="tns:validaCedula"/>
</message>
<message name="validaCedulaResponse">
<part name="parameters" element="tns:validaCedulaResponse"/>
</message>
<message name="validaRuc">
<part name="parameters" element="tns:validaRuc"/>
</message>
<message name="validaRucResponse">
<part name="parameters" element="tns:validaRucResponse"/>
</message>
<message name="modificarProveedor">
<part name="parameters" element="tns:modificarProveedor"/>
</message>
<message name="modificarProveedorResponse">
<part name="parameters" element="tns:modificarProveedorResponse"/>
</message>
<message name="cargaProveedor">
<part name="parameters" element="tns:cargaProveedor"/>
</message>
<message name="cargaProveedorResponse">
<part name="parameters" element="tns:cargaProveedorResponse"/>
</message>
<portType name="wsLogicaNegocioProveedor">
<operation name="getErrorConexionProveedor">
<input wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/getErrorConexionProveedorRequest" message="tns:getErrorConexionProveedor"/>
<output wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/getErrorConexionProveedorResponse" message="tns:getErrorConexionProveedorResponse"/>
</operation>
<operation name="eliminarProveedor">
<input wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/eliminarProveedorRequest" message="tns:eliminarProveedor"/>
<output wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/eliminarProveedorResponse" message="tns:eliminarProveedorResponse"/>
</operation>
<operation name="validarNumeroCelular">
<input wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/validarNumeroCelularRequest" message="tns:validarNumeroCelular"/>
<output wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/validarNumeroCelularResponse" message="tns:validarNumeroCelularResponse"/>
</operation>
<operation name="actualizaDataBaseProveedor">
<input wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/actualizaDataBaseProveedorRequest" message="tns:actualizaDataBaseProveedor"/>
<output wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/actualizaDataBaseProveedorResponse" message="tns:actualizaDataBaseProveedorResponse"/>
</operation>
<operation name="validarNumeroConvencional">
<input wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/validarNumeroConvencionalRequest" message="tns:validarNumeroConvencional"/>
<output wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/validarNumeroConvencionalResponse" message="tns:validarNumeroConvencionalResponse"/>
</operation>
<operation name="validaCorreo">
<input wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/validaCorreoRequest" message="tns:validaCorreo"/>
<output wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/validaCorreoResponse" message="tns:validaCorreoResponse"/>
</operation>
<operation name="validaCedula">
<input wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/validaCedulaRequest" message="tns:validaCedula"/>
<output wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/validaCedulaResponse" message="tns:validaCedulaResponse"/>
</operation>
<operation name="validaRuc">
<input wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/validaRucRequest" message="tns:validaRuc"/>
<output wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/validaRucResponse" message="tns:validaRucResponse"/>
</operation>
<operation name="modificarProveedor">
<input wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/modificarProveedorRequest" message="tns:modificarProveedor"/>
<output wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/modificarProveedorResponse" message="tns:modificarProveedorResponse"/>
</operation>
<operation name="cargaProveedor">
<input wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/cargaProveedorRequest" message="tns:cargaProveedor"/>
<output wsam:Action="http://proveedor.logicanegocio.jhano.lewissa.com/wsLogicaNegocioProveedor/cargaProveedorResponse" message="tns:cargaProveedorResponse"/>
</operation>
</portType>
<binding name="wsLogicaNegocioProveedorPortBinding" type="tns:wsLogicaNegocioProveedor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getErrorConexionProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarNumeroCelular">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaDataBaseProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarNumeroConvencional">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validaCorreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validaCedula">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validaRuc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargaProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsLogicaNegocioProveedor">
<port name="wsLogicaNegocioProveedorPort" binding="tns:wsLogicaNegocioProveedorPortBinding">
<soap:address location="http://localhost:8080/LogicaNegocio/wsLogicaNegocioProveedor"/>
</port>
</service>
</definitions>