InterfazUsuario/src/conf/xml-resources/web-service-references/wsLogicaNegocioEmpresa/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioEmpresa.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://empresa.logicanegocio.jhano.lewissa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://empresa.logicanegocio.jhano.lewissa.com/">

<xs:element name="buscarEmpresa" type="tns:buscarEmpresa"/>

<xs:element name="buscarEmpresaResponse" type="tns:buscarEmpresaResponse"/>

<xs:complexType name="buscarEmpresa">
<xs:sequence>
<xs:element name="strParametro" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="tns:cEmpresa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cEmpresa">
<xs:sequence>
<xs:element name="strDirecccion" type="xs:string" minOccurs="0"/>
<xs:element name="strNombreFiscal" type="xs:string" minOccurs="0"/>
<xs:element name="strRuc" type="xs:string" minOccurs="0"/>
<xs:element name="strTelefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>